body{
	background-color: #44e8b4;
}

#image{
	display: block;
  margin-left: auto;
  margin-right: auto;
}


h4{
	text-align: center;
	color: #e84460;
}


#photo{
	color: #e84460;
}

#links 
{
	color: #e88844;
	font-size: 200%;
}

.pic{
	border: 3px solid #e88844;
  	border-radius: 4px;
  	padding: 5px;
  	height: 300px;
  	width: 300px;
  	border-radius: 50%;
  	margin: 10px;
  	transition: all 1s;
}

#pics{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.pic:hover{
	transform: scale(1.1);
}