.veg_pic{
	height: 100px;
	margin-top: 10px;
}

img{
	margin: 2px;
	border: 1px solid grey;
	padding: 2px;
}

.jumbotron{
	opacity: 0.8
}

.display-4, h1, h3{
	font-family: 'Press Start 2P', cursive;
	color: #547fff;
	}

.my_text{
	border-left: 3px solid grey;
	padding-left: 10px;
}

.card{
	border-bottom: 1px solid grey;
	background-color: lightblue;
	height: 500px;
}

.card li{
	border: 1px solid lightgrey;
}
#pic{
	display: flex;
	justify-content: space-between;
}